Projeto Registros de Ocorrências/PowerAutomate1/Microsoft.Flow/flows/f70ad55c-364b-454c-8c7c-178779f3f829/definition.json
{"name":"ec79b542-5d12-46f1-8869-f865c90a3dbb","id":"/providers/Microsoft.Flow/flows/ec79b542-5d12-46f1-8869-f865c90a3dbb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Fluxo para registros de b.o - 1","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"bd80785c-f006-4cf6-89dd-7bf3dcd2ef4e","type":"User","tenantId":"72b256b0-66c6-4cd3-8b5c-a7bb0e1a9d45"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-09T12:05:34.8955963Z","connectionKeySavedTimeKey":"2024-04-09T12:05:34.8955963Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"},"operationMetadataId":"b3cafc69-8ec9-4401-9d44-8819eaf3cda5"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://csno365.sharepoint.com/sites/msteams_712d1a'))}/tables/@{encodeURIComponent(encodeURIComponent('70b7a8ae-7743-4cf7-8d86-2e3e48499d39'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Condição":{"actions":{"Enviar_um_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"2a276204-11b5-4637-8aa0-b04852cc4487","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;silas@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n•</span><span style=\"font-family: arial; font-size: 14px\"><strong> Número do Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_2":{"actions":{"Enviar_um_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"ffaacb14-13c7-4d2d-b8d0-a4a623c7d4e1","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;marco.santos@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-size: 14px\">;<br>\n• </span><span style=\"font-size: 14px\"><strong>Setor:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-size: 14px\">;<br>\n• </span><span style=\"font-size: 14px\"><strong>Número do Registro: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-size: 14px\">;<br>\n• </span><span style=\"font-size: 14px\"><strong>Data e Hora:</strong></span><span style=\"font-size: 14px\"> &nbsp;</span><span style=\"font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-size: 14px\">;<br>\n•</span><span style=\"font-size: 14px\"><strong> Natureza:</strong></span><span style=\"font-size: 14px\"> &nbsp;</span><span style=\"font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-size: 14px\">;<br>\n• </span><span style=\"font-size: 14px\"><strong>Local:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-size: 14px\">;<br>\n• </span><span style=\"font-size: 14px\"><strong>Detalhes: </strong></span><span style=\"font-size: 14px\">&nbsp;</span><span style=\"font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_3":{"actions":{"Enviar_um_email_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"d0e03087-6ed6-4640-82d9-29e4b9ae8502","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;eduardo.bannwart@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;joao.campos@csn.com.br;rodrigo.pollmann@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n•</span><span style=\"font-family: arial; font-size: 14px\"><strong> Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes: &nbsp;</strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_4":{"actions":{"Enviar_um_email_(V2)_4":{"runAfter":{},"metadata":{"operationMetadataId":"0a01cf55-75f7-425e-8b69-0d38690ed568","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;gislane.kiihl@csn.com.br;adauto.leal@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;edilson.hitner@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_5":{"actions":{"Enviar_um_email_(V2)_5":{"runAfter":{},"metadata":{"operationMetadataId":"4d3a99ad-ed94-4da8-ae9f-64e364160f22","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;thais.fruet@csn.com.br;adauto.leal@csn.com.br;joao.campos@csn.com.br;rodrigo.pollmann@csn.com.br;edilson.hitner@csn.com.br;edinei.carvalho@csn.com.br;tadeu.gurski@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes</strong></span><span style=\"font-family: arial; font-size: 14px\">: &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_6":{"actions":{"Enviar_um_email_(V2)_6":{"runAfter":{},"metadata":{"operationMetadataId":"59c34903-fd6c-4f2c-b0fd-eb510e9656dd","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;kleber.rudolf@csn.com.br;adauto.leal@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;edilson.hitner@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_7":{"actions":{"Enviar_um_email_(V2)_7":{"runAfter":{},"metadata":{"operationMetadataId":"732ebc65-2b2b-4598-b0df-327df4360ecd","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;mauro.franca@csn.com.br;joao.campos@csn.com.br;adauto.leal@csn.com.br;rodrigo.pollmann@csn.com.br;edilson.hitner@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_8":{"actions":{"Enviar_um_email_(V2)_8":{"runAfter":{},"metadata":{"operationMetadataId":"1e8739ce-5096-4e6e-b404-b022b2503174","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;marco.santos@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;joao.campos@csn.com.br;rodrigo.pollmann@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: &nbsp;</strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.</span><span style=\"font-family: arial\"><br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Terminar":{"runAfter":{},"metadata":{"operationMetadataId":"205b6199-3c15-47f6-9924-0c6b325ae33d"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Estre"]},"metadata":{"operationMetadataId":"1a9d26c6-af9b-4ad2-88b5-786409cd5875"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Decapagem"]},"metadata":{"operationMetadataId":"9c00d3d5-5275-4ee4-9342-a2f36367d640"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Centro de Serviços"]},"metadata":{"operationMetadataId":"5cd999ef-82a3-4232-89a3-03e7e6e430dd"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Brasiltec"]},"metadata":{"operationMetadataId":"396aad0b-cdde-4fb4-aee8-8610dd403429"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Balança"]},"metadata":{"operationMetadataId":"e380bcaf-5cfb-48f6-9bb5-147612d916fd"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Automação"]},"metadata":{"operationMetadataId":"fc898f16-0967-4999-9d05-8a4651b02d21"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Almoxarifado/EPI"]},"metadata":{"operationMetadataId":"8c573b2b-1b6c-47a7-831b-79273dc1538b"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Agência Bancária"]},"metadata":{"operationMetadataId":"c6aca73c-c782-4ffc-8171-1f8e457a3c5a"},"type":"If"}},"description":"Envie para você mesmo ou outra pessoa um email personalizado sempre que um novo item for adicionado a uma lista de SharePoint selecionada."},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-1124f308-efc0-45ae-a31d-33d3ef8ee12e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"0841efde57724c2a99ab509baee4f7c0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}