Projeto Registros de Ocorrências/PowerAutomate3/Microsoft.Flow/flows/c91e0a8b-06c8-4b20-b9d2-3f2f4570902c/definition.json
{"name":"f5a5dd12-1cab-45dd-b798-4e37f5601828","id":"/providers/Microsoft.Flow/flows/f5a5dd12-1cab-45dd-b798-4e37f5601828","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Fluxo para registros de b.o - 3","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"bd80785c-f006-4cf6-89dd-7bf3dcd2ef4e","type":"User","tenantId":"72b256b0-66c6-4cd3-8b5c-a7bb0e1a9d45"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-09T12:09:42.7981999Z","connectionKeySavedTimeKey":"2024-04-09T12:09:42.7981999Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"},"operationMetadataId":"7680da24-044c-4db6-b613-0917ca398034"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://csno365.sharepoint.com/sites/msteams_712d1a'))}/tables/@{encodeURIComponent(encodeURIComponent('70b7a8ae-7743-4cf7-8d86-2e3e48499d39'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Condição":{"actions":{"Enviar_um_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"2d8916a3-67e3-4f4f-a92a-4379f692d400","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;mauro.franca@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>•</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>•</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>•</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>•</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>•</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_2":{"actions":{"Enviar_um_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"abb97d30-9239-450c-91e3-416002de7141","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;joao.campos@csn.com.br;rodrigo.pollmann@csn.com.br;gislane.kiihl@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Setor:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Data e Hora:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Natureza:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong>• Detalhes: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_3":{"actions":{"Enviar_um_email_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"a126ad43-5942-4449-becb-5dff1bf65004","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;andre.fuhrmann@csn.com.br;adauto.leal@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;edilson.hitner@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n</span><span style=\"font-family: arial; font-size: 14px\"><strong><br>\n• Responsável pelo Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: &nbsp;</strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_4":{"actions":{"Enviar_um_email_(V2)_4":{"runAfter":{},"metadata":{"operationMetadataId":"6a2f0396-6b09-4b8a-addc-47e6818004d0","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;silas@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: &nbsp;</strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.</span><span style=\"font-size: 12px; font-family: arial\"><br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_5":{"actions":{"Enviar_um_email_(V2)_5":{"runAfter":{},"metadata":{"operationMetadataId":"15582514-d8c5-4924-bf4e-b578044d7a3b","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;silas@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;rodrigo.pollmann@csn.com.br;joao.campos@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora: &nbsp;</strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: &nbsp;</strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes: &nbsp;</strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_6":{"actions":{"Enviar_um_email_(V2)_6":{"runAfter":{},"metadata":{"operationMetadataId":"681e428a-8838-41fc-9b92-4279c68fee9d","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;flaviana.brito@csn.com.br;adauto.leal@csn.com.br;joao.campos@csn.com.br;rodrigo.pollmann@csn.com.br;edilson.hitner@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-size: 14px; font-family: arial\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-size: 14px; font-family: arial\"><strong>Responsável pelo Registro: </strong></span><span style=\"font-size: 14px; font-family: arial\"></span><span style=\"font-size: 14px; font-family: arial\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-size: 14px; font-family: arial\">;<br>\n• </span><span style=\"font-size: 14px; font-family: arial\"><strong>Setor:</strong></span><span style=\"font-size: 14px; font-family: arial\"> </span><span style=\"font-size: 14px; font-family: arial\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-size: 14px; font-family: arial\">;<br>\n• </span><span style=\"font-size: 14px; font-family: arial\"><strong>Número do Registro:</strong></span><span style=\"font-size: 14px; font-family: arial\"> </span><span style=\"font-size: 14px; font-family: arial\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-size: 14px; font-family: arial\">;<br>\n• </span><span style=\"font-size: 14px; font-family: arial\"><strong>Data e Hora: &nbsp;</strong></span><span style=\"font-size: 14px; font-family: arial\"></span><span style=\"font-size: 14px; font-family: arial\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-size: 14px; font-family: arial\">;<br>\n• </span><span style=\"font-size: 14px; font-family: arial\"><strong>Natureza: </strong></span><span style=\"font-size: 14px; font-family: arial\">&nbsp;</span><span style=\"font-size: 14px; font-family: arial\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-size: 14px; font-family: arial\">;<br>\n• </span><span style=\"font-size: 14px; font-family: arial\"><strong>Local:</strong></span><span style=\"font-size: 14px; font-family: arial\"> </span><span style=\"font-size: 14px; font-family: arial\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-size: 14px; font-family: arial\">;<br>\n• </span><span style=\"font-size: 14px; font-family: arial\"><strong>Detalhes: &nbsp;</strong></span><span style=\"font-size: 14px; font-family: arial\"></span><span style=\"font-size: 14px; font-family: arial\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-size: 14px; font-family: arial\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.</span><span style=\"font-size: 12px\"><br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_7":{"actions":{"Enviar_um_email_(V2)_7":{"runAfter":{},"metadata":{"operationMetadataId":"708f39e5-3a50-4596-bfd7-80f74a8b9a9a","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;gislane.kiihl@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;joao.campos@csn.com.br;rodrigo.pollmann@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n•</span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\"><br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n</span><span style=\"font-family: arial\"><br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condição_8":{"actions":{"Enviar_um_email_(V2)_8":{"runAfter":{},"metadata":{"operationMetadataId":"2cf0a8d9-97ff-4416-97c0-ef9f749decc1","flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"jaqueline.boeno@csn.com.br;thais.fruet@csn.com.br;adauto.leal@csn.com.br;edilson.hitner@csn.com.br;joao.campos@csn.com.br;rodrigo.pollmann@csn.com.br;edinei.carvalho@csn.com.br","Subject":"Registro de Ocorrências - @{triggerBody()?['Origem']?['Value']}","Body":"<p><span style=\"font-family: arial; font-size: 14px\">Prezado,<br>\n<br>\nGostaria de informar sobre a recente ocorrência registrada em nosso sistema:<br>\n<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Responsável pelo Registro:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NomeCompleto_x002f_Matr_x00ed_cu']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Setor: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['Origem']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Número do Registro: </strong></span><span style=\"font-family: arial; font-size: 14px\"></span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['N_x00ba_Registro']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Data e Hora:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{concat(substring(triggerBody()?['DatadaOcorr_x00ea_ncia'], add(nthIndexOf(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-', 2), 1), 2), '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[1], '/', split(triggerBody()?['DatadaOcorr_x00ea_ncia'], '-')[0])}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Natureza:</strong></span><span style=\"font-family: arial; font-size: 14px\"> &nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['NaturezadaOcorr_x00ea_ncia']?['Value']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Local:</strong></span><span style=\"font-family: arial; font-size: 14px\"> </span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['LocaldaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">;<br>\n• </span><span style=\"font-family: arial; font-size: 14px\"><strong>Detalhes: </strong></span><span style=\"font-family: arial; font-size: 14px\">&nbsp;</span><span style=\"font-family: arial; font-size: 14px\">@{triggerBody()?['DetalhesdaOcorr_x00ea_ncia']}</span><span style=\"font-family: arial; font-size: 14px\">.<br>\n<br>\n<br>\nEstou à disposição para fornecer mais informações ou esclarecimentos, caso necessário.<br>\n<br>\nAgradecemos pela sua atenção e colaboração.<br>\n<br>\nAtenciosamente.<br>\n</span></p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Terminar":{"runAfter":{},"metadata":{"operationMetadataId":"28760e67-d163-4e41-998d-117f70dfcee6"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Service "]},"metadata":{"operationMetadataId":"cf0fc817-0fdb-45b1-b532-c84685cc3bc0"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Segurança Patrimonial"]},"metadata":{"operationMetadataId":"a74cc6a3-c27f-4be0-8ebc-fe02883cce2a"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Segurança do Trabalho"]},"metadata":{"operationMetadataId":"17015009-4b78-42d0-8a77-50544c3996a9"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","RH "]},"metadata":{"operationMetadataId":"c0fffa40-0a90-4eb6-a6de-75f09dd1a2fc"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Refeitório "]},"metadata":{"operationMetadataId":"b1c6f2fa-711b-43a9-ad95-164518ebfbcf"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Pintura "]},"metadata":{"operationMetadataId":"52c9e53d-9d25-4be7-b29f-ae9e9121b13b"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","PCP"]},"metadata":{"operationMetadataId":"d33020d4-9545-45a9-8206-6511a1edd56c"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['Origem']?['Value']","Oficina de Cílindros"]},"metadata":{"operationMetadataId":"9aec9cc9-19a0-49e5-8c54-b706521175d6"},"type":"If"}},"description":"Envie para você mesmo ou outra pessoa um email personalizado sempre que um novo item for adicionado a uma lista de SharePoint selecionada.\n"},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-1124f308-efc0-45ae-a31d-33d3ef8ee12e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"0841efde57724c2a99ab509baee4f7c0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}